.card {
  border-radius: 0;
  cursor: pointer;
}

.card,
.card-footer {
  background-color: #ffffa5;
  border: none;
}

.card.completed,
.card.completed .card-footer {
  background-color: #EEE;
  color: #CCC;
}

.card-footer {
  text-align: right;
}

i.fa-times {
  color: #CC0000;
  padding-right: .5rem;
}

i.fa-check {
  color: #c5dac5;
  padding-right: .5rem;
}